body {
    font-family: 'Arial', sans-serif;
    background-color: #d4edda;
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100vh;
    margin: 0;
    color: #155724;
}

.container {
    background-color: #fff;
    padding: 30px;
    border-radius: 10px;
    box-shadow: 0 0 20px rgba(0, 0, 0, 0.1);
    width: 90%;
    max-width: 700px;
    text-align: center;
    border: 2px solid #c3e6cb;
}

h1 {
    color: #155724;
    font-size: 2.5em;
    margin-bottom: 20px;
}

h2 {
    color: #155724;
    font-size: 2em;
    margin-top: 30px;
    margin-bottom: 20px;
}

.translator-box {
    margin-bottom: 30px;
}

textarea {
    width: 100%;
    height: 100px;
    padding: 15px;
    margin-bottom: 20px;
    border: 2px solid #c3e6cb;
    border-radius: 10px;
    font-size: 1.2em;
    color: #155724;
    background-color: #f8f9fa;
}

button {
    padding: 10px 20px;
    border: none;
    background-color: #28a745;
    color: #fff;
    border-radius: 5px;
    font-size: 1.2em;
    cursor: pointer;
    transition: background-color 0.3s ease;
}

button:hover {
    background-color: #218838;
}

#outputText, #outputEnglishText {
    margin-top: 20px;
    font-size: 1.4em;
    white-space: pre-wrap;
    word-wrap: break-word;
    border: 2px solid #c3e6cb;
    border-radius: 10px;
    padding: 15px;
    background-color: #f8f9fa;
}
